$primary-color: #ccc;
$primary-font-stack: 'Arial', sans-serif;
$secundary-font-stack: $primary-font-stack;

// Foundation
$body-font-family: $primary-font-stack;
$header-font-family: $secundary-font-stack;
