.notifications {
  position: fixed;
  right: 15px;
  top: 15px;

  $text-color: #000;
  $shadow-color: rgba(0, 0, 0, .1);
  $background-color: #fff;
  $notification-background-color: #fff;
  $notification-border-color: #ccc;
  $notification-success: #42f483;
  $notification-notify: #41c1f4;
  $notification-error: #fc3a2f;
  $notification-warn: #f45b41;

  .notification {
    background: $background-color;
    box-shadow: 2px 2px 2px 0 $shadow-color;
    color: $text-color;
    margin: 15px;
    min-height: 100px;
    min-width: 250px;
    padding: 15px;

    &.success {
      border-left: 5px solid $notification-success;
    }

    &.notify {
      border-left: 5px solid $notification-notify;
    }

    &.error {
      border-left: 5px solid $notification-error;
    }

    &.warn {
      border-left: 5px solid $notification-warn;
    }
  }
}
